---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Sobre mi";
---

<Layout pageTitle={pageTitle}>
    
    <div slot="content">
		todo acerca de mi:
	</div>
	<div slot="sidebar">
		Newsletter Form
	</div>
</Layout>