---
import Social from './Social.astro';
---
<style>
  .footer {
    padding: 20px;
    text-align: center;
  }
</style>
<div class="footer">
  <Social platform="twitter" username="cubadevops" />
  <Social platform="github" username="cubadevops" />
  <Social platform="youtube" username="cubadevops" />
</div>