---
import siteConfig from '../data/site-config';
import Link from './Link.astro';
import SocialLink from './SocialLink.astro';

const secondaryLinks = siteConfig.secondaryNavLinks || [];
const socialLinks = siteConfig.socialLinks || [];
---

<footer class="mx-auto mt-32 bg-white dark:bg-black border-t border-[#FFD43B] dark:border-[#FFD43B]">
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8">
                <a href="/">
                    <picture class="h-auto w-full">
                        <source srcset={siteConfig.logo.src.replace('.png', '.webp')} type="image/webp" />
                        <img class="h-20 rounded-full dark:filter dark:invert" src={siteConfig?.logo.src} alt={siteConfig.title} width="80" height="80" />
                    </picture>
                </a>
                <p class="text-sm leading-6 text-[#181A2A] dark:text-light">
                    Haciendo código con 100 T.
                </p>
                <div class="flex space-x-6">
                    {socialLinks.map((link) => (
                        <SocialLink {...link} class="text-dark hover:text-[#FFD43B] dark:text-[#FFD43B] dark:hover:text-light transition-colors" />
                    ))}
                </div>
            </div>
            <div class="mt-16 flex flex-row justify-center items-start gap-8 xl:col-span-2 xl:mt-0 w-full">
                <div class="flex flex-1 flex-col items-center min-w-[140px]">
                    <h3 class="font-bold leading-6 text-[#181A2A] dark:text-light">Blog</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a href="/blog" class="text-sm leading-6 text-[#181A2A] hover:text-[#FFD43B] dark:text-[#FFD43B] dark:hover:text-white transition-colors">
                                Artículos
                            </a>
                        </li>
                        <li>
                            <a href="/about" class="text-sm leading-6 text-[#181A2A] hover:text-[#FFD43B] dark:text-[#FFD43B] dark:hover:text-white transition-colors">
                                Sobre Mi
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-1 flex-col items-center min-w-[140px]">
                    <h3 class="font-bold leading-6 text-[#181A2A] dark:text-light">Recursos</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        {secondaryLinks.map((link) => (
                            <li>
                                <Link
                                    {...link}
                                    class="text-sm leading-6 text-[#181A2A] hover:text-[#FFD43B] dark:text-[#FFD43B] dark:hover:text-white transition-colors cursor-pointer"
                                />
                            </li>
                        ))}
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-16 border-t border-[#FFD43B] dark:border-[#FFD43B] pt-8 sm:mt-20 lg:mt-24">
            <p class="text-xs leading-5 text-[#8a7c2f] dark:text-light">
                &copy; {new Date().getFullYear()}&nbsp;{siteConfig.title}. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>
